In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import seaborn as sb

In [29]:
Train_path = r"..\datasets\adult\adult.csv"
train_df = pd.read_csv(Train_path)
X, y = train_df.values[:, :-1], train_df.values[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
for col in train_df.columns:
    if not (train_df[col].dtype == "int64" or train_df[col].dtype == "float64"):
        print(col, train_df[col].dtype, len(train_df[col].unique()))

workclass object 9
education object 16
marital-status object 7
occupation object 15
relationship object 6
race object 5
gender object 2
native-country object 42
income object 2

In [17]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(39073, 14)
(9769, 14)
(39073,)
(9769,)

In [18]:
train_df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [20]:
print(train_df["occupation"].unique())

['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']

In [21]:
print(train_df.isnull().sum().sum(), train_df.isna().sum().sum())

0 0

Data has no null values and no "na" values.

In [22]:
print(train_df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [23]:
list_dtype = [train_df[i].dtype for i in train_df.columns]
dict((i, list_dtype.count(i)) for i in list_dtype)

{dtype('int64'): 6, dtype('O'): 9}

All the columns are float type. Hence one hot encoding is not required.

In [25]:
print(train_df['income'].value_counts())

<=50K    37155
>50K     11687
Name: income, dtype: int64

This shows the class imbalance

In [27]:
for col in train_df.columns:
    if len(train_df[col].unique()) < 5:
        print(col)
        print(train_df.groupby([col, 'income'])['income'].count())

gender
gender  income
Female  <=50K     14423
        >50K       1769
Male    <=50K     22732
        >50K       9918
Name: income, dtype: int64
income
income  income
<=50K   <=50K     37155
>50K    >50K      11687
Name: income, dtype: int64