In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import seaborn as sb

In [14]:
Train_path = "../datasets/bitcoinheist-ransomware-dataset/BitcoinHeistData.csv"
train_df = pd.read_csv(Train_path)
train_df['label'] = (train_df['label'] == 'white').astype(int)
train_df = train_df.drop(columns = ['address', 'year', 'day'])

class CFG:
    seed = 1

X, y = train_df.values[:, :-1], train_df.values[:, -1].astype(int)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=CFG.seed, stratify=y)

In [19]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2333357, 6)
(583340, 6)
(2333357,)
(583340,)

In [20]:
train_df.head()

   length    weight  count  looped  neighbors       income  label
0      18  0.008333      1       0          2  100050000.0      0
1      44  0.000244      1       0          1  100000000.0      0
2       0  1.000000      1       0          2  200000000.0      0
3      72  0.003906      1       0          2   71200000.0      0
4     144  0.072848    456       0          1  200000000.0      0

In [33]:
print(train_df["looped"].unique())

[    0     1  3283 ... 11938  7168  8173]

In [21]:
print(train_df.isnull().sum().sum(), train_df.isna().sum().sum())

0 0

Data has no null values and no "na" values.

In [22]:
print(train_df.columns)

Index(['length', 'weight', 'count', 'looped', 'neighbors', 'income', 'label'], dtype='object')

In [23]:
list_dtype = [train_df[i].dtype for i in train_df.columns]
dict((i, list_dtype.count(i)) for i in list_dtype)

{dtype('int64'): 4, dtype('float64'): 2, dtype('int32'): 1}

All the columns are float type. Hence one hot encoding is not required.

In [24]:
print(train_df['label'].value_counts())

1    2875284
0      41413
Name: label, dtype: int64

This shows the class imbalance

In [26]:
for col in train_df.columns:
    if len(train_df[col].unique()) < 5:
        print(col)
        print(train_df.groupby([col, 'label'])['label'].count())

label
label  label
0      0          41413
1      1        2875284
Name: label, dtype: int64